@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

/* ===== CONTENT TABLE ====== 

[1] CSS Variables
[2] Base 
[3] Container + Header
[4] Section
[5] Form
[6] Media Query
*/

/* ====== CSS Variables ===== */
:root {
  --primary-red: hsl(0, 100%, 74%);
  --primary-green: hsl(154, 59%, 51%);
  --primary-white: #ffffff;
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-greyish-blue: hsla(246, 25%, 77%, 0.5);
}
/* ====== END ===== */


/* ====== Base ===== */
html {
  font-size: 62.5%;
}

body {
  background-image: url(../images/bg-intro-desktop.png), linear-gradient(var(--primary-red), var(--primary-red));
  background-size: cover;
  background-position: center;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* ====== END ===== */

/* ====== Container + Header ===== */
.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
}

header {
  flex-basis: 40%;
  margin-right: 4rem;
  color: var(--primary-white);
}

.main-heading {
  font-size: 2.5rem;
  line-height: 1.2;
  letter-spacing: 0.1rem;
}

.sub-heading {
  line-height: 1.6;
  font-size: 1.8rem;
}
/* ====== END ===== */

/* ====== Section ===== */
section {
  flex-basis: 35%;
}

.offer {
  box-shadow: 0 0.8rem 0.2rem 0 rgba(0,0,0,.19);
  margin: 0 auto;
  text-align: center;
  margin-bottom: 3rem;
  background-color: var(--accent-blue);
  padding: 1.7rem;
  color: var(--primary-white);
  font-weight: 400;
  border-radius: 1rem;
  border: 2px solid rgba(95, 84, 164, 0.5);
  font-size: 1.6rem;
}

section .offer span {
  font-weight: 600;
}
/* ====== END ===== */

/* ====== Form ===== */
form {
  background-color: var(--primary-white);
  padding: 3.5rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0.8rem 0.2rem 0 rgba(0,0,0,.25);
  border: 1px solid var(--neutral-greyish-blue);
}

input {
  margin: 0 auto;
  margin-bottom: 1.7rem;
  display: block;
  outline: none;
  width: 90%;
  height: 4rem;
  border-radius: 5px;
  text-decoration: none;
  border: 1px solid var(--neutral-greyish-blue);
  text-indent: 3rem;
  font-family: 'Poppins';
  font-weight: 700;
  font-size: 1.4rem;
  padding: 0.5rem;
}

input:focus {
  border: 1px solid var(--accent-blue);
}

input[type="submit"] {
  text-transform: uppercase;
  font-size: 1.45rem;
  font-weight: 500;
  background-color: var(--primary-green);
  color: var(--primary-white);
  letter-spacing: 0.15rem;
  height: 5rem;
  text-align: center; 
  display: block;
  width: 93%;
  box-shadow: 0 0.3rem 0.2rem 0 #2e9466;
  text-indent: 0px;
  margin-bottom: 2rem;
  transition: all .2s;
}

input[type="submit"]:focus {
  outline: none;
  border: none;
}

input[type="submit"]:hover {
  cursor: pointer;
}

input[type="submit"]:active {
  box-shadow: 0 0.2rem 0.15rem 0 #2e9466;
  background-color: #58e9a8;
}

input[type="email"].placeholderred::-webkit-input-placeholder {
  color: hsl(0, 95%, 76%)
}


form p {
  text-align: center;
  font-size: 1.2rem;
  color: hsla(246, 25%, 77%, .9);
  font-weight: 600;
}

form p a {
  color: var( --primary-red);
  text-decoration: none;
  font-weight: 700;
  transition: all .2s;
}

form p a:hover {
  border-bottom: 1px solid var(--primary-red);
}

form .error-msg {
  color: orangered;
  text-align: right;
  display: none;
  font-weight: 500;
  transition: all 2s;
  animation: errorAnimate .5s; 
}

@keyframes errorAnimate {
  0% {
    opacity: 0;
    transform: translateX(10rem) translateY(7rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0) translateY(0);
  }
}

.error {
  border: 2px solid var(--primary-red) !important;
  background: url(../images/icon-error.svg) no-repeat;
  background-position: 95% 50%;
  transition: all .5s;
}
/* ====== END ===== */

/* ====== Media Query ===== */
@media screen and (max-width: 850px) {
  
  body {
    background-image: url(../images/bg-intro-mobile.png), linear-gradient(var(--primary-red), var(--primary-red));
    background-size: cover;
    background-position: center;
  }

  .container {
    padding: 2.5rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  header {
    margin-top: 40rem;
    text-align: center;
    margin-right: 0;
  }

  .main-heading {
    font-size: 1.5rem;
  }

  .sub-heading {
    margin-bottom: 7rem;
    font-size: 1.5rem;
  }

  form {
    margin-bottom: 7rem;
  } 
}
/* ====== END ===== */


